.logo {
    height: 130px;
    width: 130px;
}

.logo-text {
    margin-top: 50px;
    margin-left: -60px;
}

button {
    width: 100%;
}

hr {
    width: 90%;
    margin-left: 60px;
    margin-top: 10px;
}

.items {
    font-size: 16px;
    font-weight: bolder;
}