.logo {
    height: 90x;
    width: 90px;
    margin-top: 10px;
}

.logo-text {
    margin-top: 50px;
    margin-left: -120px;
}

button {
    width: 100%;
}

hr {
    width: 90%;
    margin-left: 60px;
    margin-top: 5px;
}

.items {
    font-size: 16px;
    font-weight: bolder;
}

.row {
    margin-top: -15px;
}

.first-row {
    margin-top: -20px;
}

th, label, td {
    font-size: 14px;
}

.del-btn {
    width: 40px;
    font-size: 13px;
    margin-top: 5px;
}

.container {
    font-size: 13px;
}

.app-invoice-item {
    margin-left: -15px;
    margin-top: 5px;
}

